/* .quiz--page {
} */

.quiz--question {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

.quiz--answers {
  font-family: "EB Garamond", serif;
  font-weight: 500;
}

.quiz--button {
  width: 120px;
  height: 35px;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 15px;
  background-color: #4d5b9e;
  color: #f5f7fb;
  border-radius: 10px;
}
