.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #293264;
}

main {
  z-index: 1;
}

.blob1 {
  width: 120px;
  height: 120px;
  position: fixed;
  top: -35px;
  right: -35px;
  background-color: #fffad1;
  transform: rotate(-130deg);
}

.blob2 {
  width: 120px;
  height: 120px;
  position: fixed;
  bottom: -35px;
  left: -35px;
  border-radius: 100px;
  background-color: #deebf8;
  transform: rotate(-10deg);
}

#copyright {
  margin: 1%;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #848493;
}
